# dont commit dependencies
node_modules/

# dont commit private files
cbotconfig.json

# dont commit testing files
test.*
chronodb
test2.js
testinc.js
testinc.json
npm-debug.log
dad.txt
emojis
self.js
dump.js
webhookconfig.json
process-palette.json
dump.txt
anime.json
package-lock.json
